
header{
    text-align: center;
    height: auto;
    width: auto;
    margin: 15px;
    padding: 5px;
    border: 5px solid black;
}

body{
    
    
    height: 100vh;
    margin: 0;
    padding-top: 45px;
}
#box{
      width:50%;
      margin-left:auto;
      margin-right:auto;
      height: 15%;
      border: 1px solid #000;
      background-color: #ffa500;
  }
  #box2{
    width:50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:auto;
    margin-right:auto;
    height: 15%;
    border: 1px solid #000;
    text-align: center;
    background-color: #ff69b4;
}
#box3{
    width:50%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:auto;
    margin-right:auto;
    height: 15%;
    border: 1px solid #000000;
}

.canvas{
    padding: 0;
    margin: auto;
    display: block;
    background-color: #ffffff; 
}
.canvas1{
    padding: 0;
    margin: auto;
    display: block;
    background-color: #ffffff; 
}
.button{
border: 5px solid red;
-webkit-appearance: button;
-moz-appearance: button;

background-color: white;
text-decoration-color: firebrick;
padding: 0;
margin: auto;
display: block;
}
.text-mitten{
text-align: center;
}
.text-startsida{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
.meddelande{
    padding: 0;
    margin: auto;
    display: block;
    
}
.body{
    background-color: greenyellow;
}
@media (max-width: 768px){
    .göm {
display: none;
    }
    .grid-container{
        border: 5px solid black;
    }
    .p3{
        padding: 15px;
    }
    .rubrik{
        padding: 15px;
    }
  }


.hr{
    border: 5px solid black;
}
 @media (min-width: 769px){
    .grid-container {
        
        display: inline-grid;
        border: 5px solid black;
        padding: 10px;
        
        grid-gap: 10px ;
        grid-template-columns: auto auto;
    } 
    .grid-item{
        border: 2px solid black;
        padding: 5px;
        width: 100%;
    }
}
